:root {
    --button-color: hsl(322, 100%, 66%);
    --button-hover: hsl(322, 95%, 76%);
    --paragraph-color: hsl(208, 11%, 55%);
    --headings-color: hsl(192, 100%, 9%);
    --bg-color: hsl(193, 100%, 96%);
    --headings-font:'Poppins', sans-serif ;
    --body-font: 'Open Sans', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}
.body {
    position: relative;
}
.intro {
    background-image: url(./images/bg-hero-desktop.svg);
    height: 100vh;
    background-color: var(--bg-color);
}
.heading {
    width: 100%;
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
}
.heading__btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 40px;
    padding: 10px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.heading__logo {
    width: 15%;
}
.container {
    padding: 0 70px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.container__desc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: translateY(-20%);
    padding-right: 60px;

}
.container__desc h1 {
    font-family: var(--headings-font);
    font-size: 2rem;
}
.container__desc p {
    padding: 30px 0;
    font-family: var(--body-font);
}
.container__desc button {
    background-color: var(--button-color);
    color: white;
    padding: 20px 42px;
    border-radius: 32px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container__desc button:hover {
    background-color: var(--button-hover);
    border: none;

}
.container__img {
    width: 100%;
}
.container__img img {
    width: 100%;
}

/*SECTION 2*/
.cards__container {
    padding: 0 70px;
    margin: 60px 0 200px 0;
}
.card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
    padding: 30px 30px 30px 60px;
}
.card__desc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.card__desc h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: var(--headings-font);
    color: var(--headings-color);
}
.card__desc p {
    font-family: var(--body-font);
    color: var(--paragraph-color);
}

.card__img {
    width: 100%;
    height: 100%;
}
.card__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.get__started {
    width: 500px;
    height: 150px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
    position: absolute;
    left: 50%;
    top: 2800px;
    transform: translateX(-50%);
    background-color: white;
}
.get__started p {
    font-family: var(--headings-font);
    margin-bottom: 20px;
    color: var(--headings-color);
    font-size: 24px;
}
.get__started button {
    background-color: var(--button-color);
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
}
footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 100px 60px 30px 60px;
    
}
.footer__logo {
    background-color: white;
    margin-bottom: 30px;
}
.footer__wrapper {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    font-family: var(--body-font);

}
.footer__contact div {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.contact__icon {
    margin-right: 20px;
    width: 30px;
    height: auto;
}
.footer__list {
    list-style: none;
}
.footer__list li {
    margin-bottom: 10px;
}
.footer__list li a {
    text-decoration: none;
    color: white;
}
.footer__list li a:hover {
    text-decoration: underline;
}
.social__icon i {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 12px;
    color: white;
}
.social__icon i:hover {
    border: 1px solid var(--button-hover);
    color: var(--button-hover);
}

@media only screen and (max-width:768px) {
    .heading {
        padding: 30px 30px;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0px 30px 30px 30px;
    }
    .container__desc {
        height: 100%;
        padding-right: 0;
    }
    .container__img {
        width: 100%;
    }
    .container__img img {
        width: 100%;
    }
    .cards__container {
        padding: 0;
    }
    .card {
        width: 100%;
        padding: 30px 0;
        grid-template-columns: 1fr;
        grid-column-gap:0;
    }
    .footer__wrapper {
        grid-template-columns: 1fr;
    }
    
}